<style type="text/css">
  .page__footer-toTop {
    display: inline-block;
    position: fixed;
    padding: 0;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #ddd;
    color: rgba(39,174,96,.6);
    text-align: center;
    border-radius: 2px;
    z-index: 1;
  }
  .page__footer-toTop--icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    left: 10px;
    color: #fff;
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    text-rendering: auto;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .page__footer-content {
    
  }
  .page__footer-content--flex {
    display: flex;
  }
  .page__footer-content--license {
    margin-right: 20px;
  }
  .page__footer-content--thread {
    color: #666666;
  }
  .page__footer-content--thread p {
    margin: 5px 0 0 0;
    font-size: 12px;
  }
  .page__footer-content--thread p:first-of-type {
    margin: 0;
  }
  .page__footer-section {

  }
  .page__footer-section--word {
    padding: 0;
    margin: 0.5em 0;
    font-weight: 700;
    break-inside: avoid-column;
    word-break: break-all;
    word-wrap: break-word;
  }
  .page__footer-section--word a {
    text-decoration: none;
    cursor: pointer;
    color: #ba832c;
    font-weight: 700;
  }
</style>
<hr>
<div class="page__footer-toTop"><i class="page__footer-toTop--icon iconfont">&#xe602;</i></div>
<div class="page__footer-content">
  <div class="page__footer-content--flex">
    <div class="page__footer-content--license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://iframe.kangkk.cn/static/image/licensebuttons.png" />
      </a>
    </div>
    <div class="page__footer-content--thread">
      <p><b>ID</b>: <%= kcFileId %></p>
      <p><b>TITLE</b>: <%= kcFileName %></p>
      <p><b>URL</b>: <%= kcFileAddr %></p>
    </div>
  </div>
  <section class="page__footer-section">
    <p class="page__footer-section--word">This work is licensed under a <a rel="license"
        href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/" target="_blank"> Creative Commons
        Attribution-NonCommercial-NoDerivatives 4.0 International License
      </a>. Reprint the 《<sub>
        <%= kcFileName %>
      </sub>》 need signature "<sub>kangkk</sub>", and the url is <sub>
        <%= kcFileAddr %>
      </sub>.
    </p>
  </section>
</div>
<%- include('../home/footer') %>
  <script type="text/javascript">
    !function ($) {
      $(window).scroll(function () {
        $(this).scrollTop() > 100 ? $(".page__footer-toTop").fadeIn() : $(".page__footer-toTop").fadeOut()
      }), $(".page__footer-toTop").on("click", function (b) {
        return b.preventDefault(), $("html, body").animate({
          scrollTop: 0
        }, 100), !1
      });
    }(jQuery);
  </script>
  </body>

  </html>