<style type="text/css">
  .page__footer-toTop {
    display: inline-block;
    position: fixed;
    padding: 0;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #ddd;
    color: rgba(39,174,96,.6);
    text-align: center;
    border-radius: 2px;
    z-index: 1;
  }
  .page__footer-toTop--icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    left: 10px;
    color: #fff;
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    text-rendering: auto;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<a class="page__footer-toTop" href="#"><i class="page__footer-toTop--icon iconfont">&#xe602;</i></a>
<div class="footer--content">
  <div class="ds-thread" data-thread-key="<%= kcFileId %>" data-title="<%= kcFileName %>" data-url="<%= kcFileAddr %>">
  </div>
  <section class="content__section">
    <p class="content__a-btn">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://iframe.kangkk.cn/static/image/licensebuttons.png" />
      </a>
    </p>
    <p class="content__p--word">This work is licensed under a <a rel="license"
        href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/" target="_blank"> Creative Commons
        Attribution-NonCommercial-NoDerivatives 4.0 International License
      </a>. Reprint the 《<sub>
        <%= kcFileName %>
      </sub>》 need signature "<sub>kangkk</sub>", and the url is <sub>
        <%= kcFileAddr %>
      </sub>.
    </p>
  </section>
</div>
<%- include('../home/footer') %>
  <script type="text/javascript">
    !function ($) {
      $(window).scroll(function () {
        $(this).scrollTop() > 100 ? $("#back-to-top").fadeIn() : $("#back-to-top").fadeOut()
      }), $("#back-to-top").on("click", function (b) {
        return b.preventDefault(), $("html, body").animate({
          scrollTop: 0
        }, 100), !1
      });
    }(jQuery);
  </script>
  </body>

  </html>