<style type="text/css">
  .right {
    width: 400px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
  }
  .right a {
    color: #39c;
    text-decoration: none;
  }
  .right table {
    display: none;
    min-height: 277px;
  }
  .right table, .right tr {
    overflow: hidden;
  }
  .right table td:first-of-type {
    width: 50px;
  }
  .right table td:nth-of-type(2) {
    width: 250px;
  }
  .right table td:nth-of-type(2) a {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
  }
  .right table tbody td:nth-of-type(3) {
    font-size: 12px;
  }
  .menu__page-table--content {
    min-height: 150px;
  }
  .menu__page-pagination {
    height: 22px;
    margin-top: 20px;
    overflow: hidden;
  }
  .menu__page-pagination--label[for^="indicator"] {
    display: inline-block;
    width: 20px;
    border: 1px dashed #666666;
    border-radius: 5px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .menu__page-pagination--label:active, .menu__page-pagination--label:hover {
    background: #666666;
    color: #ffffff
  }
  <% for (let i = 0; i < list.length; i = i + 10) { %>
    #indicator<%= i %>:checked ~ label[for="indicator<%= i %>"] {
      background: #666666;
      color: #ffffff
    }
  <% } %>
  /* 选中指示器设置 */

</style>
<div class="right">
  <% var nameList = {
    'candies':{
      'title':'糖果',
    },
    'waterChestnut':{
      'title':'菱角',
    },
    'longan':{
      'title':'龙眼',
    },
    'chestnut':{
      'title':'栗子',
    }
  } %>
  <h2><%= nameList[folder].title %></h2>
  <div class="menu__page-table--content">
    <% for (let i = 0; i < list.length; i = i + 10) { %>
      <table class="menu__page-table" id="table<%= i %>" style="display: <%= i || 'block' %>">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Mtime</td>
          </tr>
        </thead>
        <tbody>
          <% list.slice(i, i + 10).forEach(function(item, index){ %>
            <tr>
                <td>
                    <%= (i + index + 1) %>
                </td>
                <td>
                    <a href="./<%= item.path %>" class="col-xs-12 link -download">
                        <%= item.fileName %>
                    </a>
                </td>
                <td>
                    <%= item.mtime %>
                </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    <% } %>
    <div class="menu__page-pagination">
      <% for (let i = 0; i < list.length; i = i + 10) { %>
        <input type="radio" name="indicator" class="indicator" id="indicator<%= i %>" hidden <%= i || 'checked' %>>
        <label for="indicator<%= i %>" class="menu__page-pagination--label" onclick="javascript:(() => {
          document.querySelectorAll('.menu__page-table').forEach(_ => _.style.display = 'none');
          document.getElementById('table<%= i %>').style.display = 'block'
        })()"><%= i / 10 + 1 %></label>
      <% } %>
    </div>
  </div>
  <%- include('../home/footer') %>
</div>