<footer class="footer w-900">
    <a class="footer__backToTop-btn" href="#" id="back-to-top">
        <i class="footer__backToTop-btn--icon iconfont icon-chevronup"></i>
    </a>
    <a class="footer__github-btn" href="https://github.com/kangkk" target="_blank">Kangkk on GitHub</a>
    <div class="ds-thread" data-thread-key="<%= kcFileId %>" data-title="<%= kcFileName %>" data-url="<%= kcFileAddr %>"></div>
    <section class="content__section">
        <p class="content__a-btn">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="../static/bgimg/licensebuttons.png" />
            </a>
        </p>
        <p class="content__p--word">This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/" target="_blank"> Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
        </a>. Reprint the 《<sub><%= kcFileName %></sub>》 need signature "<sub>kangkk</sub>", and the url is <sub><%= kcFileAddr %></sub>.
        </p>
        <p class="content__text-p--desc">
            <em>这里的大多数文章都写于很多年以前，十余年历程，多于怀旧（@2006-2020）</em>
            <br>Copyright (C) 2006-2020 Kangkk.com, All Rights Reserved
            <br>Living in China.
            <span class="text__span--link">
            ✎
            <a href="../index.html">Home</a> –
            <a href="./mood.html">Mood</a> –
            <a href="./source.html">Source</a> –
            <a href="./note.html">Note</a> - 
            <a href="https://kangkk.cn/">KangKK.CN</a>.
          </span>
        </p>
    </section>
</footer>
<script type="text/javascript">
    !function($) {
        $(window).scroll(function() {
            $(this).scrollTop() > 100 ? $("#back-to-top").fadeIn() : $("#back-to-top").fadeOut()
        }), $("#back-to-top").on("click", function(b) {
            return b.preventDefault(), $("html, body").animate({
                scrollTop: 0
            }, 100), !1
        });
    }(jQuery);
</script>
</body>

</html>
